.boton {
    padding: .5rem 2rem;
    font-size: var(--cuerpo);
    line-height: 1.5;
    color: var(--letra-oscura);
    background: var(--primero);
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}