.campo {
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border: none;
    outline-color: var(--primero);
    color: var(--letra-semioscura);
    border: solid 1px var(--letra-semioscura);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.campo-rotulo {
    color: var(--letra-oscura);
}