.selector {
    padding: .5rem 1rem;
    border: solid 1px var(--letra-oscura);
    color: var(--letra-oscura);
    background: var(--letra-clara);
    outline-color: var(--primero);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}