.tarjetas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-self: baseline;
}

@media screen and (min-width: 768px) {
    .tarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .tarjetas {
        width: calc(70% - 1rem);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1440px) {

}