.tarjetas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-self: baseline;
}

.paginacion {
    grid-column: 1 / 1;
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin: 1rem 0
}

.pagina {
    padding: .5rem 1rem;
    border: solid 1px var(--letra-semioscura);
    color: var(--letra-oscura);
    box-sizing: border-box;
    cursor:default;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.activo {
    background: var(--primero);
    border: solid 1px var(--primero);
}

.inactivo {
    background-color: var(--letra-semioscura);
    border: solid 1px var(--letra-semioscura);
    color: var(--letra-clara);
}

@media screen and (min-width: 768px) {
    .tarjetas {
        grid-template-columns: repeat(2, 1fr);
    }

    .paginacion {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1024px) {
    .tarjetas {
        width: calc(70% - 1rem);
        grid-template-columns: repeat(3, 1fr);
    }

    .paginacion {
        grid-column: 1 / 4;
    }
}

@media screen and (min-width: 1440px) {

}